# Exclusions
!/packages/ExamplePackages/

# Directories to ignore
#/docs/builds/
/packages/
/projects/
/result_spk/
/source/
/toolchain/
/toolkit_tarballs/*.dev/
/toolkit_tarballs/*.env/

# Files to ignore
#/docs/MYDEVICES.md
/toolkit_tarballs/*.t[gx]z
/*.log*
