# Exclusions
#!/packages/ExamplePackages/

# Directories to ignore
#/packages/
/projects/
/source/
/toolchain/
/toolkit_tarballs/*.dev/
/toolkit_tarballs/*.env/

# Files to ignore
/toolkit_tarballs/*.t[gx]z
/*.log*
