[submodule "pkgscripts-ng"]
	path = pkgscripts-ng
	url = git@github.com:igorpupkinable/pkgscripts-ng.git
	branch = master
[submodule "packages/ExamplePackages"]
	path = packages/ExamplePackages
	url = git@github.com:SynologyOpenSource/ExamplePackages.git
	branch = main
